[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
    path = bundle/markdown
    url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vividchalk"]
    path = bundle/vividchalk
    url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/delimitMate"]
    path = bundle/delimitMate
    url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/align"]
    path = bundle/align
    url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/command-t"]
    path = bundle/command-t
    url = git://github.com/wincent/Command-T.git
[submodule "bundle/snipmate"]
    path = bundle/snipmate
    url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = git://github.com/ervandew/supertab.git
[submodule "bundle/colorsamplerpack"]
    path = bundle/colorsamplerpack
    url = git://github.com/Slashbunny/vim-colorsamplerpack.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer.git
[submodule "bundle/puppet-syntax-vim"]
	path = bundle/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim
